*.DS_Store


paper/main.aux 
paper/main.bbl 
paper/main.fdb_latexmk 
paper/main.fls 
paper/main.log 
paper/main.out 
paper/main.synctex.gz


newpaper/main.aux 
newpaper/main.bbl 
newpaper/main.fdb_latexmk 
newpaper/main.fls 
newpaper/main.log 
newpaper/main.out 
newpaper/main.synctex.gz